<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.steelbison.nbn.activity" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:targetSdkVersion="10" android:minSdkVersion="10" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="com.steelbison.nbn.activity.NewbornNewsActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.steelbison.nbn.activity.BabyActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="com.steelbison.nbn.activity.BabyEatActivity"
			android:label="@string/eat" />
		<activity android:name="com.steelbison.nbn.activity.BabySleepActivity"
			android:label="@string/sleep" />
		<activity android:name="com.steelbison.nbn.activity.BabyPoopActivity"
			android:label="@string/poop" />
		<activity android:name="com.steelbison.nbn.activity.MomActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="com.steelbison.nbn.activity.MomMedsActivity"
			android:label="@string/meds" />
		<activity android:name="com.steelbison.nbn.MomPumpActivity"
			android:label="@string/pump" />
		<activity android:name="com.steelbison.nbn.activity.LogActivity"
			android:label="@string/log" />
	</application>
</manifest>